<div class="uk-margin-remove-vertical uk-visible@s" uk-scrollspy="target: [uk-scrollspy-class];">
    <ul class="uk-child-width-auto uk-grid-small uk-flex-inline uk-flex-middle" uk-grid="">
        {% for item in social_icons %}
            <li class="el-item uk-first-column">
                <a class="el-link uk-icon-button" href="{{ item.link }}" rel="noreferrer">
                    <span uk-icon="icon: {{ item.name }}" class="uk-icon">
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="uk-margin-remove-vertical uk-hidden@s" uk-scrollspy="target: [uk-scrollspy-class];">
    <ul class="uk-child-width-auto uk-grid-small uk-flex-inline uk-flex-middle uk-grid-stack" uk-grid="">
        {% for item in social_icons %}
            <li class="el-item">
                <a class="el-link uk-icon-link" href="{{ item.link }}" rel="noreferrer">
                    <span uk-icon="icon: {{ item.name }};" class="uk-icon">
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>