<div class="uk-h5">Follow Us</div>
<div class="uk-margin-remove-vertical uk-visible@s" uk-scrollspy="target: [uk-scrollspy-class];">
    <ul class="uk-child-width-auto uk-grid-small uk-flex-inline uk-flex-middle uk-grid" uk-grid="">
        <li class="el-item uk-first-column">
            <a class="el-link uk-icon-button" href="https://facebook.com/yootheme" rel="noreferrer">
                <span uk-icon="icon: facebook;" class="uk-icon">
                </span>
            </a>
        </li>
        <li class="el-item">
            <a class="el-link uk-icon-button" href="https://www.instagram.com/" rel="noreferrer">
                <span uk-icon="icon: instagram;" class="uk-icon">
                </span>
            </a>
        </li>
        <li class="el-item">
            <a class="el-link uk-icon-button" href="https://www.yelp.com/" rel="noreferrer">
                <span uk-icon="icon: yelp;" class="uk-icon">
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="uk-margin-remove-vertical uk-hidden@s" uk-scrollspy="target: [uk-scrollspy-class];">
    <ul class="uk-child-width-auto uk-grid-small uk-flex-inline uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
        <li class="el-item">
            <a class="el-link uk-icon-link" href="https://facebook.com/yootheme" rel="noreferrer">
                <span uk-icon="icon: facebook;" class="uk-icon">
                </span>
            </a>
        </li>
        <li class="el-item">
            <a class="el-link uk-icon-link" href="https://www.instagram.com/" rel="noreferrer">
                <span uk-icon="icon: instagram;" class="uk-icon">
                </span>
            </a>
        </li>
        <li class="el-item">
            <a class="el-link uk-icon-link" href="https://www.yelp.com/" rel="noreferrer">
                <span uk-icon="icon: yelp;" class="uk-icon">
                </span>
            </a>
        </li>
    </ul>
</div>